@page "/Account/AccessDenied"

<PageTitle>Access denied</PageTitle>

<header class="w-100 h-100 d-flex justify-content-center align-items-center flex-column">
    <h1 class="text-danger">Zugriff verweigert</h1>
    <p class="text-danger">Sie haben leider keinen Zugriff auf diese Seite. Bitten Sie einen Systemadmin Ihnen zugriff zu erteilen.</p>
    <MudLink Href="DashboardEmployee">Hier zum Dashboard</MudLink>
</header>